{% extends 'registration/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title %} <title>Sign Up</title>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-5 mx-auto">
      <div id="first">
          <div class="myform form ">
              <div class="logo mb-3">
                  <div class="col-md-12 text-center">
                      <h1>Registro</h1>
                  </div>
              </div>

              <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="col-md-12 text-center ">
                  <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Registrate</button>
              </div>
              </form>
            </div>
          </div>
      </div>
  </div>
{% endblock %}