{% extends "catalog/main.html" %}

{% block breadcrums %}
<li class="breadcrumb-item">Listado de autores</li>
{% endblock breadcrums %} 


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8 col-sm-12 text-center" ><h1>Listado de Autores</h1>
    </div>
    {% if perms.catalog.add_author %}
    <div class="col-lg-2 col-md-4 col-sm-12 mb-2 text-center">
      <a href="{% url 'author_new' %}">
      <button type="button" class="btn btn-success">Agregar Autor</button>
      </a>
    </div>
    {% endif %}
  </div>

<div class="container">
    {% if author_list %}
  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for author in author_list %}
          <tr>
            <td><a href="{{ author.get_absolute_url }}">{{ author.first_name}} {{author.last_name}}</a></td>
            <td>
              <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12" ></div>
                 <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                  <a href="{% url 'author_detail' author.pk %}">
                    <button type="button" class="btn btn-dark">Detalle</button>
                  </a>
                </div>
              </div>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    {% else %}
      <p>no hay.</p>
    {% endif %}       
  </div>
{% endblock %}