{% extends "catalog/main.html" %}
{% load static %}
{% load bootstrap4 %}


{% block breadcrums %}
<li class="breadcrumb-item"><a href="{% url 'author_list' %}">Listado de autores</a></li>
<li class="breadcrumb-item">{{ author.first_name }} {{ author.last_name }}</li>
{% endblock breadcrums %} 

{% block content %}
<div class="container">
<!-- Card -->
  <div class="card card-cascade wider reverse">
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

      <!-- Title -->
      <h4 class="card-title"><strong>{{ author.first_name }} {{ author.last_name }}</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">Biografía</h6>
      <!-- Text -->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis
        voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat
        laborum ut beatae ullam suscipit veniam.
        <p><strong>Fecha nacimiento:</strong>{{ author.date_of_birth }}</p>
        
        {% if  author.date_of_death %}
        <p><strong>Fecha de muerte:</strong> {{ author.date_of_death }}</p>    
        {% endif %}
      </p>

      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

    </div>
    <div class="row mb-3">
      <div class="col-lg-8 col-md-6 col-sm-12" ></div>
       <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        {% if perms.catalog.add_author %}
        <a href="{% url 'author_edit' author.pk %}">
          <button type="button" class="btn btn-success">Editar</button>
        </a> 
        {% endif %}
        {% if perms.catalog.delete_author %}
        <a href="{% url 'author_delete' author.pk %}">
          <button type="button" class="btn btn-danger">Eliminar</button>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
      
<!-- Card -->


  <div class="text-center mt-2"><h3><strong>Libros escritos</strong></h3></div>
  <div class="row">
    {% for book in book_list %}
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
    {% if book.author.pk == author.pk  %}
    <div class="card my-2 flex-fill">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
        <p class="card-text">{{book.summary|truncatechars:20}}</p>

      </div>
    </div>
    {% endif %}
  </div>  
  {% endfor %}
  </div>
</div>

{% endblock %}