{% extends 'catalog/main.html' %}
{% load bootstrap4 %}


{% block breadcrums %}
<li class="breadcrumb-item"><a href="{% url 'author_list' %}">Listado de Autores</a></li>
<li class="breadcrumb-item">Agregar Autor </li>
{% endblock breadcrums %}
    
{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- {{ form.as_p }} -->
        <button type="submit" class="btn btn-primary" ><i class="fas fa-trash-alt"></i> Enviar</button>
    </form>
</div>
{% endblock %}