{% extends "catalog/main.html" %}
{% block breadcrums %}
<li class="breadcrumb-item">Listado de libros</li>
{% endblock breadcrums %} 


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8 col-sm-12 text-center" ><h1>Listado de Libros</h1>
    </div>
    {% if perms.catalog.add_book %}
    <div class="col-lg-2 col-md-4 col-sm-12 mb-2 text-center">
      <a href="{% url 'book-new' %}">
      <button type="button" class="btn btn-success">Agregar libro</button>
      </a>
    </div>
    {% endif %}
  </div>

    {% if book_list %}


    <div class="row">
      {% for book in book_list %}
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex">

        
        <div class="card my-2 flex-fill">
          <div class="row no-gutters">
            <div class="col-lg-4 col-md-4 col-sm-1">
              <img src="{{book.imageURL}}" class="card-img d-block" alt="...">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-11">
              <div class="card-body">
                <h5 class="card-title"><a href="{{ book.get_absolute_url }}">{{book.title}}</a></h5>
                <p class="card-text">{{book.summary|truncatechars:20}}</p>
                <p class="card-text"><small class="text-muted">{{book.author.first_name}} {{book.author.last_name}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      {% endfor %}
    </div>

    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       
  </div>
{% endblock %}