{% extends "catalog/main.html" %}

{% block breadcrums %}
<li class="breadcrumb-item">Mis libros</a></li>
{% endblock breadcrums %} 

{% block content %}
<div class="container">
    <h1>Libros pedidos</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})        
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No hay libros pedidos.</p>
    {% endif %}       
  </div>
{% endblock %}