{% extends "catalog/main.html" %}
{% block breadcrums %}
<li class="breadcrumb-item">Instancias de libros</li>
{% endblock breadcrums %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8 col-sm-12 text-center" ><h1>Listado de Generos disponibles</h1>
    </div>
    {% if perms.catalog.add_bookinstance %}
    <div class="col-lg-2 col-md-4 col-sm-12 mb-2 text-center">
      <a href="{% url 'bookinstance_new' %}">
      <button type="button" class="btn btn-success">Agregar copia de libro</button>
      </a>
    </div>
    {% endif %}
  </div>
    

    {% if bookinstance_list %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Status</th>
          <th scope="col">Arrendatario</th>
        </tr>
      </thead>
      <tbody>
        {% for bookinstance in bookinstance_list %}
        <tr>
          <td>{{ bookinstance.book.title }}</td>
          <td><p class="{% if bookinstance.status == 'a' %}text-success{% elif bookinstance.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ bookinstance.get_status_display }}</p>
            {% if bookinstance.status != 'a' %}<p>{{ bookinstance.book.status }}</p>{% endif %}</td>
          <td>{{ bookinstance.borrower }}</td>
            <td><div class="row">
              <div class="col-lg-8 col-md-6 col-sm-12" ></div>
               <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                {% if perms.catalog.change_bookinstance %}
                <a href="{% url 'bookinstance_detail' bookinstance.pk %}">
                  <button type="button" class="btn btn-success">Actualizar</button>
                </a>
                {% endif %}
                
              </div>
            </div></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>







    {% else %}
      <p>No hay copias :(</p>
    {% endif %}       
  </div>
{% endblock %}
 