{% extends "catalog/main.html" %}
{% load static %}
<!-- breadcrums -->
{% block breadcrums %}
<li class="breadcrumb-item"><a href="{% url 'books-list' %}">Listado de libros</a></li>
<li class="breadcrumb-item">{{ book.title }}</li>
{% endblock breadcrums %} 



{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="{{book.imageURL}}" class="img-thumbnail" alt="img" >  
    </div>
    
    <div class="col-lg-8 col-md-6 col-sm-12">
      <h2>{{ book.title }}</h1>
      <p><strong>Summary:</strong> {{ book.summary }}</p>
      <p><strong>Author:</strong> <a href="{% url 'author_detail' book.author.pk %}">{{ book.author }}</a></p>
      <p><strong>Language:</strong> {{ book.language }}</p>  
      <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
      <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12" ></div>
    <div class="col-lg-4 col-md-6 col-sm-12 text-center">
      {% if perms.catalog.change_book %}
      <a href="{% url 'book-edit' book.pk %}">
        <button type="button" class="btn btn-success">Editar</button>
      </a>
      {% endif %}
      {% if perms.catalog.delete_book%}
      <a href="{% url 'book-delete' book.pk %}">
        <button type="button" class="btn btn-danger">Eliminar</button>
      </a>
      {% endif %}
    </div>
  </div>
    
    <div style="margin-left:20px;margin-top:20px">
      <h4>Copies</h4>
      
      {% for copy in book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
      {% if copy.status != 'a' %}<p><strong>Fecha de devolución:</strong> {{copy.due_back}}</p>{% endif %}
      <p><strong>Copia:</strong> {{copy.imprint}}</p>
      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
      {% endfor %}
    </div>
</div>
{% endblock %}