{% extends 'catalog/main.html' %}
{% load bootstrap4 %}


{% block breadcrums %}
<li class="breadcrumb-item"><a href="{% url 'bookinstance_list' %}">Listado de lenguajes</a></li>
<li class="breadcrumb-item">Editar </li>
{% endblock breadcrums %}
    
{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- {{ form.as_p }} -->
        <button type="submit" class="btn btn-primary" >Enviar</button>
    </form>
</div>
{% endblock %}