{% extends "catalog/main.html" %}
{% load static %}
<!-- breadcrums -->
{% block breadcrums %}
<li class="breadcrumb-item"><a href="{% url 'bookinstance_list' %}">Listado de libros</a></li>
<li class="breadcrumb-item">{{ bookinstance.title }}</li>
{% endblock breadcrums %} 



{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
    </div>
    
    <div class="col-lg-8 col-md-6 col-sm-12">
      <h2>{{ bookinstance.book.title }}</h1>
      <p><strong>Summary:</strong> {{ bookinstance.book.summary }}</p>
      <p><strong>Author:</strong> <a href="{% url 'bookinstanceinstance_detail' bookinstance.book.author %}">{{ bookinstance.book.author }}</a></p>
      <p><strong>Language:</strong> {{ bookinstance.book.language }}</p>  
      <p><strong>ISBN:</strong> {{ bookinstance.book.isbn }}</p> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12" ></div>
    <div class="col-lg-4 col-md-6 col-sm-12 text-center">
      {% if perms.catalog.change_bookinstance %}
      <a href="#">
        <button type="button" class="btn btn-success">Editar</button>
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}