{% extends "catalog/main.html" %}
{% block breadcrums %}
<li class="breadcrumb-item">Generos</li>
{% endblock breadcrums %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8 col-sm-12 text-center" ><h1>Listado de Generos disponibles</h1>
    </div>
    {% if perms.catalog.add_genre %}
    <div class="col-lg-2 col-md-4 col-sm-12 mb-2 text-center">
      <a href="{% url 'gen_create' %}">
      <button type="button" class="btn btn-success">Agregar Genero</button>
      </a>
    </div>
    {% endif %}
  </div>
    

    {% if genre_list %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for genre in genre_list %}
        <tr>
          <td>{{ genre.name }}</td>
          <td>
            <div class="row">
              <div class="col-lg-8 col-md-6 col-sm-12" ></div>
               <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                {% if perms.catalog.change_genre %}
                <a href="{% url 'gen_edit' genre.pk %}">
                  <button type="button" class="btn btn-success">Editar</button>
                </a>
                {% endif %}
                {% if perms.catalog.delete_genre %}
                <a href="{% url 'gen_delete' genre.pk %}">
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
                {% endif %}
              </div>
            </div>
        </tr>
        {% endfor %}
      </tbody>
    </table>







    {% else %}
      <p>There are no genre in the library.</p>
    {% endif %}       
  </div>
{% endblock %}
 