{% extends "catalog/main.html" %}
{% load bootstrap4 %}


{% block breadcrums %}
<li class="breadcrumb-item"><a href="{% url 'gen_list' %}">Listado de Generos</a></li>
<li class="breadcrumb-item">Eliminar</li>
{% endblock breadcrums %} 
    

{% block content %}
<div class="container">
<h1>Eliminar Genero</h1>
<form method="post">
    {% csrf_token %}
    <p>¿Estas seguro de eliminar a <strong>"{{ object }}"</strong>?</p>
    
    <button type="submit" class="btn btn-danger" ><i class="fas fa-trash-alt"></i> Eliminar</button>
    
    <a href="{% url 'gen_list' %}" class="btn btn-light">Cancelar</a> 
</form>

</div>
{% endblock %}