{% extends "catalog/main.html" %}
{% block breadcrums %}
<li class="breadcrumb-item">Lenguaje</li>
{% endblock breadcrums %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8 col-sm-12 text-center" ><h1>Listado de Lenguaje disponibles</h1>
    </div>
    {% if perms.catalog.add_languaje %}
    <div class="col-lg-2 col-md-4 col-sm-12 mb-2 text-center">
      <a href="{% url 'lan_create' %}">
      <button type="button" class="btn btn-success">Agregar lenguaje</button>
    </a>
  </div>
  {% endif %}
</div>


{% if languaje_list %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
        {% for lenguaje in languaje_list %}
        <tr>
          <td>{{lenguaje.name}}</td>
          <td>
            <div class="row">
              <div class="col-lg-8 col-md-6 col-sm-12" ></div>
              <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                {% if perms.catalog.change_languaje %}
                <a href="{% url 'lan_edit' lenguaje.pk %}">
                  <button type="button" class="btn btn-success">Editar</button>
                </a>
                {% endif %}
                {% if perms.catalog.delete_languaje %}
                <a href="{% url 'lan_delete' lenguaje.pk %}">
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
                {% endif %}
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    

    {% else %}
      <p>There are no Lenguaje in the library.</p>
    {% endif %}       
  </div>
{% endblock %}
 