<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- Add additional CSS in static file -->
    {% load static %}
    <script src="https://kit.fontawesome.com/4b9e2e10fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    </head>
    
    {% block title %}<title>Local Library</title>{% endblock %}

    
    {% block extracss %}
      
    {% endblock extracss %}
      

  </head>

  <body>
    <!-- 
    {% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    {% endif %} --> 
      
    <!-- Navbar -->
    <div class="container">
        <p>Hola <strong> {{user.get_username}}</strong><a href="{% url 'logout' %}">  <i class="fas fa-sign-out-alt"></i> Logout </a></p>
    </div>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Librería local</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'books-list' %}">Libros</a>
            <a class="nav-item nav-link" href="{% url 'author_list' %}">Autores</a>
            <a class="nav-item nav-link" href="{% url 'gen_list' %}">Generos</a>
            <a class="nav-item nav-link" href="{% url 'lan_list' %}">Lenguajes</a>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'my-borrowed' %}">Mis libros</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'users:users_edit' user.pk%}">Editar Usuario</a>
            <a class="nav-item nav-link" href="{% url 'bookinstance_list' %}">instancias de libros</a>
          </div>
      </div>
    </nav>
    </div>
    <!-- Breadcrums -->
    <div class="container my-2 ">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          {% block breadcrums %}
          {% endblock breadcrums %}  
        </ol>
      </nav>  
    </div>

    <!-- Content body -->
      {% block content %} 
      {% endblock %}


    <div class="container">
    {% block pagination %}
      {% if is_paginated %}
      <nav aria-label="...">
      <ul class="pagination">
        
            <li>
              {% if page_obj.has_previous %}
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
              
              {% endif %}
              
            </li>
            
            <li class="page-item">
              {% if page_obj.has_previous %}
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
              
              {% endif %}
            </li>
    
          

            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
            </li>

            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}
            
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}


      </ul>
    </nav>
      {% endif %}
      {% endblock %}
    </div>






    <!-- Script boostrap4  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
  